<div class="bag-container hide" id="bag-container">
    <div class="bag-item-container">
        <div class="header">My Bag</div>
        <div class="list-container">
            {{#each orderItems}}
                <div class="order-container" id="{{orderItemId}}">
                    <div class="quantity-container">
                        <button class="minus"><img src="/images/minus.png" width="18" height="18"></button>
                        <div class="quantity">{{quantity}}</div>
                        <button class="plus"><img src="/images/plus.png" width="18" height="18"></button>
                    </div>

                    <div class="detail-container">
                        <div class="product-name">{{product.name}}</div>
                        {{#each product.inclusion}}
                            <div class="product-inclusion">{{quantity}} {{productName}}</div>
                        {{/each}}
                            
                        {{#each addOns}}
                            <div class="product-inclusion">{{name}}</div>
                        {{/each}}
                        <a class="edit">Edit</a> | 
                        <button class="delete">Delete</button>
                    </div>

                    <div class="price-container">
                        ₱ {{totalPrice}}
                    </div>
                </div>
            {{/each}}

        </div>
    </div>
    <div class="payment-container">
        <div class="subtotal-container">
            <div class="sub">Subtotal</div>
            <div class="sub subtotal">₱ {{subtotal}}</div>
        </div>

        <div class="delivery-fee-container">
            <div class="sub">Delivery Fee</div>
            <div class="sub deliveryFee">₱ {{deliveryFee}}</div>
        </div>

        <div class="total-container">
            <div class="main">Total</div>
            <div class="main overallTotal">₱ {{total}}</div>
        </div>

        <div class="checkout-button"><a id="proceed">Proceed to Checkout</a></div>
    </div>
</div>