<div class="break"></div>
  
  <div class="container overflow-hidden mb-5"> 
    <div class="row justify-content-center mb-5">
      <div class="col-auto">
        <div class="card mt-5 ms-4  w-20" style="box-shadow: 0px 4px 5px rgb(165, 165, 165); width: 18rem; border-radius: 25px; background-color: #F8C922">
          <img class="card-img-top" src="{{this.productdetails.image}}" alt="Card image cap" style="height: 11.5rem; border-radius: 25px;">
          <div class="card-body">
            <div>
              <h5 class="card-title fw-bold mb-5 ms-2" id="productName">{{this.productdetails.name}}</h5>     
              <div>
                <h5 class="mb-3 ms-2 fw-bold me-3" style="float:left; font-size: x-large;" id="price">₱{{this.productdetails.price}}</h5>
                <button class="btn btn-dark rounded-circle ms-1 me-2" id="addbtn" style="float:right"></button>
                <h5 class="mb-3 fw-bold mx-2" id="quantity" style="float:right">1</h5>
                <button class="btn btn-dark rounded-circle ms-4 me-1" id="subtractbtn" style="float:right"></button>
              </div>    
            </div>
            <div class="text-center">
              <a  class="btn btn-danger mt-1 mb-2 fw-bold text-center rounded-pill" id="addtobag">Add to Bag</a>
            </div>
            <div class="text-center">
              <a href="/menu" class="btn btn-outline-light mt-1 mb-2 fw-bold text-center rounded-pill" id="backtomenu">Back to Menu</a>
            </div>
          </div>
        </div>
      </div>

      {{#if this.bCustomizable}}
      <div class="col-sm-auto col-md-auto col-lg-5">
        <div class="card mt-5 ms-4 border-dark" style="border: 1px #888888; border-radius: 25px; box-shadow: 2px 2px 2px 2px #888888; background-color: white">
          <div class="card-body mx-4 my-4">
  
            {{#if this.inclusions}}
            <div>
              <h3 class="card-title fw-bold mt-1 mb-3" style="font-size: 1.6rem;">Inclusions</h3>
              <ul class="ms-4 me-1 mb-5" >
              {{#each this.inclusions as |inclusion|}}
                <li class="mb-4 ms-4" style="font-size: 1.2rem;">
                  <div style="float: left;">{{inclusion.productName}}</div>
                  {{#if inclusion.quantity}}
                    <div style="float:right; font-weight: bold;">&#40;{{inclusion.quantity}} pcs.&#41; </div>
                  {{/if}}
                </li>              
              {{/each}}
              </ul>
            </div>
            {{/if}}
            
            {{#if this.addOns}}
              <div>
                  <h3 class="card-title fw-bold mt-1 mb-3" >Add-Ons</h3>
                {{#each this.addOns as |addOn|}}
                  <div class="form-check mb-3 ms-4">
                  <input class="form-check-input addOnOption" style="outline: 1px solid black;" type="checkbox" value="">
                  <label class="form-check-label ms-2" for="flexCheckDefault">
                    {{addOn.name}}
                  </label>
                  <div style="float:right; font-weight:bold;">
                    <p style="font-size: 1.2rem;">+ ₱{{addOn.price}}</p>
                  </div>
                </div>
                {{/each}}
              </div>
            {{/if}}

          </div>
        </div>
      </div>
      {{/if}}
    </div>
  </div>