<div class="break"></div>

    <div class="container overflow-hidden"> 
        <form class="row justify-content-center mb-5" action="/confirmation">

            <div class="col-sm-auto col-md-auto col-lg-7" >
                <div class="card mt-5 ms-4 border-dark" style="border: 1px #888888; border-radius: 25px; box-shadow: 2px 2px 2px 2px #888888; background-color: white">
                    <div class="card-body mx-4 my-4">
                        
                        <h5 class="card-title fw-bold mb-3">Contact Details</h5>
                        <div class="row g-2">
                            <div class="col-md me-4">
                                
                              <div class="form-floating">
                                   <input type="text" class="form-control" id="floatingInputGrid1" placeholder="firstNameEx" value="{{this.accountDetails.firstName}}" required>
                                   <label style="color: #676e75;" for="floatingInputGrid1">First Name</label>
                                </div>
                            </div>
                            <div class="col-md">
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="floatingInputGrid2" placeholder="lastNameEx" value="{{this.accountDetails.lastName}}" required>
                                    <label style="color: #6c757d;" for="floatingInputGrid2">Last Name</label>
                                </div>
                            </div>
                        </div>    

                        <div class="row g-2">
                            <div class="col-md mt-5 me-4">
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="floatingInputGrid3" placeholder="MobileNoEx" value="{{this.accountDetails.contactNumber}}" required>
                                    <label style="color: #6c757d;" for="floatingInputGrid3">Mobile Number</label>
                                </div>
                            </div>
                            <div class="col-md mt-5">
                                <div class="form-floating">
                                    <input type="email" class="form-control" id="floatingInputGrid4" placeholder="EmailEx" value="{{this.accountDetails.email}}" required>
                                    <label style="color: #6c757d;" for="floatingInputGrid4">Email Address</label>
                                </div>
                            </div>
                        </div>

                        
                    </div>
                </div>

                <div class="card mt-5 ms-4 border-dark" style="border: 1px #888888; border-radius: 25px; box-shadow: 2px 2px 2px 2px #888888; background-color: white">
                    <div class="card-body mx-4 my-4">
                        
                        <h5 class="card-title fw-bold mb-3">Delivery Address</h5>
                        <div class="row g-2">
                            <div class="col-md">
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="floatingInputGrid5" placeholder="AddressEx" value="{{this.accountDetails.completeAddress}}" required>
                                    <label style="color: #6c757d;" for="floatingInputGrid5">Complete Address</label>
                                </div>
                            </div>
                        </div> 

                        <div class="row g-2 mt-4">
                            <div class="col-md">
                                <div class="form-floating">
                                    <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 9rem"></textarea>
                                    <label style="color: #6c757d;" for="floatingTextarea2">Special Requests / Notes to Rider</label>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                
                <div class="card mt-5 ms-4 border-dark" style="border: 1px #888888; border-radius: 25px; box-shadow: 2px 2px 2px 2px #888888; background-color: white">
                    <div class="card-body mx-4 my-4">
                        
                        <h5 class="card-title fw-bold mb-3">Discounts</h5>
                        <div class="row g-2 mt-3">
                            <div class="col-md me-4">
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="floatingInputGrid9" placeholder="SCIDEx" value="{{this.accountDetails.seniorID}}" >
                                    <label style="color: #6c757d;" for="floatingInputGrid9">Senior Citizen ID</label>
                                </div>
                            </div>
                            <div class="col-md">
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="floatingInputGrid10" placeholder="PWDIDEx" value="{{this.accountDetails.pwdID}}" >
                                    <label style="color: #6c757d;" for="floatingInputGrid10">PWD ID</label>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>

                <div class="card mt-5 ms-4 border-dark" style="border: 1px #888888; border-radius: 25px; box-shadow: 2px 2px 2px 2px #888888; background-color: white">
                    <div class="card-body mx-4 my-4 mb-4">
                        
                        <h5 class="card-title fw-bold mb-3">Payment Method</h5>
                        
                        <div class="row g-2">
                            <div class="col-md">
                                <div class="form-check mt-3">
                                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                                    <label class="form-check-label" for="flexRadioDefault2">
                                    Cash on Delivery
                                    </label>
                                </div>
                            </div>
                            <div class="col-md">
                                <div class="form-floating">
                                    <input type="number" class="form-control" id="floatingInputGrid11" placeholder="AmountEx" value="">
                                    <label style="color: #6c757d;" for="floatingInputGrid11">Change for</label>
                                </div>
                            </div>
                        </div>

                        <div class="row g-2 mt-4">
                            <div class="col-md">
                                <div class="form-check mt-3">
                                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
                                    <label class="form-check-label" for="flexRadioDefault2">
                                    Credit Card
                                    </label>
                                </div>
                            </div>
                            <div class="col-md">
                                <div class="form-floating">
                                    <input type="number" class="form-control" id="floatingInputGrid11" placeholder="AmountEx" value="">
                                    <label style="color: #6c757d;" for="floatingInputGrid11">Card No</label>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>


            <div class="col-sm-auto col-md-auto col-lg-3" >
                <div class="card mt-5 ms-3" id="ordersummary">
                    
                    <div class="card-body">
                        <div class="row">
                            <div class="col ">
                                <h5 class="card-title fw-bold text-center">Order Summary</h5>
                            </div>
                        </div>
                        <div class="row mx-1 my-2" id="orders">
                            <div class="col-8 my-2 text-start">
                                <p>x1 Twister Fries with Dip</p>
                            </div>
                            <div class="col-4 my-2 text-end">
                                <p>₱180</p>
                                
                            </div>
                        </div>

                        <div class="row mx-1 mt-3" style=" height: 2rem;">
                            <div class="col text-start">
                                <p>Subtotal</p>
                            </div>
                            <div class="col text-end">
                                <p>₱180</p>
                                
                            </div>
                        </div>

                        <div class="row mx-1" style=" height: 2rem;">
                            <div class="col text-start">
                                <p>Delivery Fee</p>
                            </div>
                            <div class="col text-end">
                                <p>₱50</p>
                                
                            </div>
                        </div>

                        <div class="row mx-1">
                            <div class="col">
                                <h4 class="text-start fw-bold">Total</h4>
                            </div>
                            <div class="col">
                                <h4 class="text-end fw-bold">₱230</h4>
                                
                            </div>
                        </div>

                    </div>
                </div>
                <div class="row mt-4" style="width: 21rem;">
                    <div class="col text-center">
                        <input href="/confirmation" type="submit" value="Place Order" class="btn btn-danger mt-1 mb-2 fw-bold rounded-pill" id="placeorder"></input>
                    </div>
                </div>
                
            </div>
        </form>
    </div>