<div class="break"></div>
  
    <div class="container overflow-hidden"> 
        <div class="row justify-content-center mb-5">

            <div class="col-sm-auto col-md-auto col-lg-6" >
                <div class="card mt-5 ms-4 rounded-pill" style="border: 1px #888888; border-radius: 25px; box-shadow: 2px 2px 2px 2px #888888; background-color: #F8C922">
                    <div class="card-body mx-4">
                        <div class="row">
                            <div class="col" >
                                <h3 class="card-title fw-bold text-center" style="font-size: 1.8rem">ORDER CONFIRMED!</h3>
                            </div>
                        </div>
                        
                    </div>
                </div>

                <div class="card mt-5 ms-4 border-dark" style="border: 1px #888888; border-radius: 25px; box-shadow: 2px 2px 2px 2px #888888; background-color: white">
                    <div class="card-body mx-4 my-4">
                        <div class="row mb-2" style="border-bottom: 2px solid black;">
                            <div class="col">
                                <h5 class="card-title fw-bold mb-3" >Estimated Order Arrival Time</h3>
                            </div>
                        </div>
                        
                        <div class="row mt-4">
                            <div class="col">
                                <h3 class="fw-bold">{{this.orderDetails.ETAMin}} - {{this.orderDetails.ETAMax}}</h3>
                            </div>
                        </div>
                        
                    </div>
                </div>
                
                <div class="card mt-5 ms-4 border-dark" style="border: 1px #888888; border-radius: 25px; box-shadow: 2px 2px 2px 2px #888888; background-color: white">
                    <div class="card-body mx-4 mt-4 mb-2">
                        
                        <div class="row mb-2" style="border-bottom: 2px solid black;">
                            <div class="col ">
                                <h5 class="card-title fw-bold mb-3">Order Summary</h5>
                            </div>
                        </div>

                        <div id="orders">
                            {{#each this.order.orderItems}}
                                <div class="row mx-1 my-3" id="{{orderItemId}}">

                                    <div class="col-2 my-1 text-start">
                                        <p style="font-weight:bold;">x{{quantity}} </p>
                                    </div>

                                    <div class="col-6 my-1 text-start">
                                        <div>{{product.name}}</div>
                                        {{#each product.inclusion}}
                                            <div class="inclusion">{{quantity}} {{productName}}</div>
                                        {{/each}}
                                        {{#each addOns}}
                                            <div class="inclusion">{{name}}</div>
                                        {{/each}}
                                    </div>
                                

                                    <div class="col-4 my-1 text-end">
                                        <p style="font-weight: bold;" class="price">{{totalPrice}}</p>
                                        
                                    </div>

                                </div>
                            {{/each}}
                        
                        </div>


                        <div class="row mx-1 mt-3" style=" height: 2rem;" id="subtotalDiv">
                            <div class="col text-start">
                                <p>Subtotal</p>
                            </div>
                            <div class="col text-end">
                                <p style="font-weight: bold" class="price">₱{{this.orderDetails.subtotal}}</p>
                                
                            </div>
                        </div>

                        <div class="row mx-1" style=" height: 2rem;">
                            <div class="col text-start">
                                <p>Delivery Fee</p>
                            </div>
                            <div class="col text-end">
                                <p style="font-weight:bold" class="price" >₱{{this.orderDetails.deliveryFee}}</p>
                                
                            </div>
                        </div>

                        {{#if this.orderDetails.discount}}
                            <div class="row mx-1" style=" height: 2rem;" id="discount">
                                
                                    <div class="col text-start" id="discountText">
                                        <p style="color: red">Discount</p>
                                    </div>
                                    <div class="col text-end" id="discountValue">
                                        <p style="font-weight:bold; color: red"> - ₱{{this.orderDetails.discount}}</p>
                                    </div>
                                
                            </div>
                        {{/if}}

                        <div class="row mx-1 mt-3">
                            <div class="col">
                                <h4 class="text-start fw-bold" style="font-size: 1.6rem">Total</h4>
                            </div>
                            <div class="col">
                                <h4 class="text-end fw-bold price" style="font-size: 1.6rem" name="orderTotalCost" id="finalTotal">₱{{this.orderDetails.total}}</h4>
                                
                            </div>
                        </div>
                        
                    </div>
                </div>

                <div class="card mt-5 ms-4 border-dark" style="border: 1px #888888; border-radius: 25px; box-shadow: 2px 2px 2px 2px #888888; background-color: white">
                    <div class="card-body mx-4 my-4">
                        
                        <div class="row mb-2" style="border-bottom: 2px solid black;">
                            <div class="col">
                                <h5 class="card-title fw-bold mb-3" >Order Details</h3>
                            </div>
                        </div>

                         <div class="row mx-1 mt-4" style=" height: 2rem;">
                            <div class="col text-start">
                                <p>Order ID:</p>
                            </div>
                            <div class="col text-end">
                                <p class="fw-bold">{{this.orderDetails.orderId}}</p>
                                
                            </div>
                        </div>

                        <div class="row mx-1 mt-4" style=" height: 2rem;">
                            <div class="col text-start">
                                <p>Payment Method:</p>
                            </div>
                            <div class="col text-end">
                                <p class="fw-bold">{{this.orderDetails.paymentMethod}}</p>
                                
                            </div>
                        </div>

                        {{#if this.orderDetails.changeFor}}
                            <div class="row mx-1 mt-4" style=" height: 2rem;">
                                <div class="col text-start">
                                    <p>Change for:</p>
                                </div>
                                <div class="col text-end">
                                    <p class="fw-bold">₱{{this.orderDetails.changeFor}}</p>
                                    
                                </div>
                            </div>
                        {{/if}}

                        <div class="row mx-1 mt-4" style=" height: 2rem;">
                            <div class="col text-start">
                                <p>Contact Number:</p>
                            </div>
                            <div class="col text-end">
                                <p class="fw-bold">{{this.orderDetails.contactNumber}}</p>
                                
                            </div>
                        </div>

                        <div class="row mx-1 my-3 mb-5 mt-4" style=" height: 2rem;">
                            <div class="col-5 text-start">
                                <p>Delivery Address:</p>
                            </div>
                            <div class="col-7 text-end">
                                <p class="fw-bold">{{this.orderDetails.completeAddress}}</p>
                                
                            </div>
                        </div>


                    </div>
                </div>
            </div>


        </div>
    </div>