<div class="results-container" id="results-container">   
    <div class="header-container"><h1 class="header">Search results for "{{q}}" ({{nResults}}) </h1></div>
    <div class="main-container">  
        {{#each results}}
            <div class="product-container">
                <img src="{{image}}">
                <div class="caption-container">
                    <h6 class="product-name">{{name}}</h6>
                    <h6 class="product-price">₱ {{price}}.00</h6>
                    <a href="/addtobag/{{id}}"><div class="order-button">Order</div></a>
                </div>
            </div>
        {{/each}}
    </div>
</div>